* {
  padding: 0;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  scroll-behavior: smooth;
}

body {
  background-color: #3c1053;
  height: 100vh;
}

.container {
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container .container-satu {
  overflow-y: hidden;
  background-image: url(../gambar/bg-ctn-1.jpg);
  background-position: center;
  background-size: cover;
  height: 600px;
  position: relative;
  border-bottom: 1px solid white;
}

.container .container-satu img {
  display: block;
  width: 325px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  bottom: 0;
  position: absolute;
}

.container .container-satu .icon-social-media {
  left: 100px;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4em;
  height: 20%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.container .container-satu .icon-social-media i {
  border-radius: 50%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  padding: 10px;
}

.container .container-satu .Navbar-list {
  background-color: transparent;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .container-satu .Navbar-list .logo {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  padding-left: 25px;
}

.container .container-satu .Navbar-list .navbar-name {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .container-satu .Navbar-list .navbar-name li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 25px;
}

.container .container-satu .Navbar-list .navbar-name li a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.container .container-satu .text {
  color: white;
  margin-top: 50px;
  text-align: center;
}

.container .container-satu .text h1 {
  font-size: 2.3em;
}

.container .container-dua {
  background-color: #3c1053;
  text-align: center;
  padding-top: 150px;
  height: 500px;
}

.container .container-dua h1 {
  text-transform: uppercase;
  color: white;
  text-shadow: 5px 0 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
  position: relative;
}

.container .container-dua h1::after {
  content: '';
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100px;
  height: 3px;
  position: absolute;
  background-color: white;
}

.container .container-dua .kumpulan-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .container-dua .kumpulan-project div p {
  color: white;
  margin-top: 50px;
}

.container .container-dua .kumpulan-project div .Project-satu {
  margin-top: 50px;
  background-color: antiquewhite;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.container .container-dua .kumpulan-project div .Project-dua {
  margin-top: 50px;
  background-color: antiquewhite;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.container .container-dua .kumpulan-project div .Project-tiga {
  margin-top: 50px;
  background-color: antiquewhite;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */